<%- partial('_pre') %>
<div id="l_main" class='<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>
<div id="SakanaWidget" style="position: fixed; bottom: 10px; right: 0;">
  <%- include('_widget/sakana') %>
</div>
